<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movya</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>
<body>

    <nav class="black">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">Movya</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <a href="#!" class="brand-logo right" id="username">User: Developer</a>
            {{#if user}}
            <li ><a href="/">Home</a></li>
            <li ><a href="/mylistings">My Listings</a></li>
            <li ><a href="/">My Bookings</a></li>
            <li ><a href="/">My Clients</a></li>
            <li ><a href="/create">Create Listing</a></li>
            <li ><a href="/">Logout</a></li>
            {{else}}
            <li ><a href="/login">Login</a></li>
            <li ><a href="/">Register</a></li>
            {{/if}}
          </ul>
        </div>
    </nav>

    <div class="body">
        {{{body}}}
    </div>

</body>
</html>