<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movya</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>

    <nav class="black">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">Movya</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <a href="#!" class="brand-logo right" id="username">User: </a>
            <li ><a href="/">Home</a></li>
            <li ><a href="/">My Listings</a></li>
            <li ><a href="/">My Bookings</a></li>
            <li ><a href="/">Search</a></li>
            <li ><a href="/">Logout</a></li>
            <li ><a href="/">Login</a></li>
            <li ><a href="/">Register</a></li>
          </ul>
        </div>
    </nav>

    <div class="body">
        {{{body}}}
    </div>

</body>
</html>